# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration (Use MongoDB Atlas for Shared Data)
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/fin2future?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://Fin2Future:fin123@cluster0.dzpb6k0.mongodb.net/?appName=Cluster0
CLOUDINARY_CLOUD_NAME=duvzexbaj
CLOUDINARY_API_KEY=163746518342232
CLOUDINARY_API_SECRET=43UXXB0LySsUPbfMW8NqdkOxYy8
# Security
JWT_SECRET=GPoUZTPxaRYHOOIL6SNh0pscsMIkZftbuT99z2KCHxI=

# Gov Data API (Optional - Request keys from data.gov.in)
DATA_GOV_INDIA_API_KEY=
API_SETU_CLIENT_ID=
API_SETU_CLIENT_SECRET=


